*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    background: #f0f2f7;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.title{
    padding: 10px;
    font-size: 1px;
    color: #111;
}
.title, h1{
    font-size: 20px;
    font-weight: 15px;
    font-weight: bold;
}
span{
    font-size: 25px;
    font-weight: bold;
    color: #5c81dc;
}
.copy-text{
    position: relative;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    border: 1px solid #ddd;
}
.copy-text input.text{
    padding: 10px;
    font-size: 18px;
    color: #555;
    border: none;
    outline: none;
}
.copy-text button{
    padding: 10px;
    background: #5784f5;
    color: #fff;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}
.copy-text button:active{
    background: #809ce2;
}
.copy-text button:before{
    content: "Copied";
    position: absolute;
    top: -50%;
    right: 0px;
    background: #5c81dc;
    padding: 8px 10px;
    border-radius: 20px;
    font-size: 15px; 
    display: none;
}
.copy-text button:after{
    content: "";
    position: absolute;
    top: -5px;
    right: 25px;
    width: 10px;
    height: 10px;
    background: #5c81dc;
    transform: rotate(45deg);
    display: none;
}
.copy-text.active button:before, 
.copy-text.active button:after{ 
    display: block;

}